<div class="col-12 grid-margin ">
  <div class="card " >
    <div class="card-body lightbluethinbg">
      <h4 class="card-title">Add Main Category</h4>
      <form class="form-sample" [formGroup]="addmaincategory"  >
        <!-- (ngSubmit)="onSubmit()" -->
        <!-- <p class="card-description">
          Personal info
        </p> -->
        <div class="row">
          <div class="col-md-3">
            <!-- <div class="form-group row">
              <label class="col-sm-3 col-form-label" >Name</label>
              <div class="col-sm-9">
                <input type="text" formControlName="name" class="form-control" />
              </div>
              
            </div> -->
            <mat-form-field class="sizefull">
              <input matInput  placeholder="Name" formControlName="name" required>
              <!-- <input type="text" formControlName="name" class="form-control" /> -->

              <!-- <mat-icon matSuffix >account_circle</mat-icon> -->
              <mat-error *ngFor="let validation of sub_category_validation_message.name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('name').hasError(validation.type) && (addmaincategory.get('name').dirty || addmaincategory.get('name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <!-- <div class="form-group row">
              <label class="col-sm-3 col-form-label" >Arabic Name</label>
              <div class="col-sm-9">
                <input type="text" formControlName="arabic_name" class="form-control" />
              </div>
            </div> -->
            <mat-form-field class="sizefull">
              <input matInput placeholder="Arabic Name" formControlName="arabic_name" required>
              <!-- <input type="text" formControlName="name" class="form-control" /> -->

              <!-- <mat-icon matSuffix >account_circle</mat-icon> -->
              <mat-error *ngFor="let validation of sub_category_validation_message.arabic_name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('arabic_name').hasError(validation.type) && (addmaincategory.get('arabic_name').dirty || addmaincategory.get('arabic_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        

          <!-- <div class="col-md-3">
           
            <mat-form-field class="sizefull">
              <input matInput type="number" placeholder="Order" formControlName="order_column" required>
              <mat-error *ngFor="let validation of sub_category_validation_message.order_column">
                <mat-error class="error-message" *ngIf="addmaincategory.get('order_column').hasError(validation.type) && (addmaincategory.get('order_column').dirty || addmaincategory.get('order_column').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div> -->
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label" >Is Active</label>
              <div class="col-sm-6">
                <mat-slide-toggle formControlName="is_active"
                          class="example-margin"
                          [checked]="true"
                          >
                      </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-3"  *ngFor="let item of subcaterories; let i=index">
            <mat-checkbox [checked]="item.value" id="subcategories-{{ item.name }}" class="subcategories-{{ item.name }}" [formControlName]="item.name">{{item.name}}</mat-checkbox>
            </div>
        </div> -->
        <div class="card">
<!-- <div class="card-header">
       Crop Image
    </div> -->
    <div *ngIf="!cropperhide" class="card-body">
      <div class="row">
        <div class="col-md-3">

        <input class="btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="fileupload.click()" tooltip="Click to Upload Image" value="UPLOAD IMAGE">
      
      <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="fileChangeEvent($event)" accept="image/*" #fileupload/>
    </div>
    <div class="col-md-6">
     
      <mat-progress-bar *ngIf="progresshow" mode="indeterminate" [value]="percentage"></mat-progress-bar>
    </div>
    <div class="col-md-3">
     
      <input class="float-right btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"(click)="uploadtofirebase(fileupload)"  tooltip="Click to Add Image" value="ADD IMAGE">
    </div>

      </div>
      <div class="row" style="margin-top: 15px;">
          <div class="text-center col-md-8">
              <h5>Crop Image</h5>
              <image-cropper 
              width="200px"
              height="200px"
              class="imagecropsize"
              [imageChangedEvent]="imageChangedEvent" 
              [maintainAspectRatio]="true" 
              [aspectRatio]="4 / 4"
              format="png" 
              (imageCropped)="imageCropped($event)" 
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()" 
              (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
          <div class="text-center col-md-4">
              <h5>Preview</h5>
              <img *ngIf="addoredit=='add'" width="150px" height="150px" [src]="croppedImage" />
              <img *ngIf="addoredit=='edit'" width="150px" height="150px" [src]="afterupload" />
          </div>
      </div>
    </div>
    <div *ngIf="cropperhide" class="text-center row">
      <div class="col-md-6 p-1">

        <!-- <img [src]="croppedImage" /> -->
        <img  width="150px" height="150px" [src]="afterupload"  />

      </div>
      <!-- <div class="col-md-3"></div> -->
      <div class="col-md-6 p-1 d-flex flex-column">
        <div class="row-md-6 p-1">
          <input class="text-center float-left btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="cropperHide()" value="CHANGE IMAGE">
        </div>
        
        <!-- <div class="row-md-6 p-1">
        </div> -->
      </div>
    </div>
  </div>
  <input *ngIf="addoredit=='add'" class="mt-1 text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="onSubmit()" value="ADD SUB CATEGORY">
  <input *ngIf="addoredit=='edit'" class="mt-1 text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="onSubmit()" value="UPDATE SUB CATEGORY">
  <!-- <mat-error>{{error}}</mat-error> -->
  <!-- <div class="row p-3"> -->
    <!-- <input class="text-center mr-4 float-left btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="onSubmit()" value="ADD SUB CATEGORY"> -->
  <!-- </div> -->
      </form>
    </div>
  </div>
</div>