<div class="col-12 grid-margin ">
  <div class="card " >
    <div class="card-body lightbluethinbg" style="background: #fff !important;">
      <h4 class="card-title">Add Business</h4>
      <form class="form-sample" [formGroup]="addmaincategory"  >

        <div class="row">

          <div class="col-md-3">

            <mat-form-field class="sizefull employee-search-field">
              <input matInput  placeholder="Name" formControlName="name" required>
              <mat-error *ngFor="let validation of business_validation_message.name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('name').hasError(validation.type) && (addmaincategory.get('name').dirty || addmaincategory.get('name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput placeholder="Arabic Name" formControlName="arabic_name" required>

              <mat-error *ngFor="let validation of business_validation_message.arabic_name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('arabic_name').hasError(validation.type) && (addmaincategory.get('arabic_name').dirty || addmaincategory.get('arabic_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>Sub Category</mat-label>
              <mat-select formControlName="sub_category_name"
               (selectionChange)="changesubcategory($event.value)" required style="color: black;">
                <mat-option *ngFor="let item of subcaterories" [value]="item.name" style="background-color: white; color: black;">{{item.name}}</mat-option>
                </mat-select>
              <mat-error *ngFor="let validation of business_validation_message.sub_category_name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('sub_category_name').hasError(validation.type) && (addmaincategory.get('sub_category_name').dirty || addmaincategory.get('sub_category_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>Main Category</mat-label>
              <mat-select formControlName="sub_name"
               (selectionChange)="changemaincategory($event.value)"
                required style="color: black;">
                <mat-option *ngFor="let item of maincaterories" [value]="item.name" style="background-color: white; color: black;">{{item.name}}</mat-option>
                </mat-select>
              <mat-error *ngFor="let validation of business_validation_message.main_category_name">
                <mat-error class="error-message" *ngIf="addmaincategory.get('main_category_name').hasError(validation.type) && (addmaincategory.get('main_category_name').dirty || addmaincategory.get('main_category_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
          </div>

          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Address" formControlName="address" required>
              <mat-error *ngFor="let validation of business_validation_message.address">
                <mat-error class="error-message" *ngIf="addmaincategory.get('address').hasError(validation.type) && (addmaincategory.get('address').dirty || addmaincategory.get('address').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col-md-3">

              <mat-form-field class="sizefull">
                <input matInput  placeholder="Arabic Address" formControlName="arabic_address" required>
                <mat-error *ngFor="let validation of business_validation_message.arabic_address">
                  <mat-error class="error-message" *ngIf="addmaincategory.get('arabic_address').hasError(validation.type) && (addmaincategory.get('arabic_address').dirty || addmaincategory.get('arabic_address').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">

            <mat-form-field class="sizefull">
              <mat-label>Location Name</mat-label>
              <mat-select formControlName="mapingname" required>
                <mat-option *ngFor="let item of locations" [value]="item.name">{{item.name}}</mat-option>


                </mat-select>
              <mat-error *ngFor="let validation of business_validation_message.mapingname">
                <mat-error class="error-message" *ngIf="addmaincategory.get('mapingname').hasError(validation.type) && (addmaincategory.get('mapingname').dirty || addmaincategory.get('mapingname').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
          </div>

          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Phone Number" formControlName="phone_number" required>
              <mat-error *ngFor="let validation of business_validation_message.phone_number">
                <mat-error class="error-message" *ngIf="addmaincategory.get('phone_number').hasError(validation.type) && (addmaincategory.get('phone_number').dirty || addmaincategory.get('phone_number').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Latitude" (click)="display = true" formControlName="latitude">
              <!-- <mat-error *ngFor="let validation of business_validation_message.latitude">
                <mat-error class="error-message" *ngIf="addmaincategory.get('latitude').hasError(validation.type) && (addmaincategory.get('latitude').dirty || addmaincategory.get('latitude').touched)">{{validation.message}}</mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Longitude" (click)="display = true" formControlName="longitude">
              <!-- <mat-error *ngFor="let validation of business_validation_message.longitude">
                <mat-error class="error-message" *ngIf="addmaincategory.get('longitude').hasError(validation.type) && (addmaincategory.get('longitude').dirty || addmaincategory.get('longitude').touched)">{{validation.message}}</mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>
          

          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>

          <!-- <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Rating" formControlName="rating" required>
              <mat-error *ngFor="let validation of business_validation_message.rating">
                <mat-error class="error-message" *ngIf="addmaincategory.get('rating').hasError(validation.type) && (addmaincategory.get('rating').dirty || addmaincategory.get('rating').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>

          </div> -->
          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Web" formControlName="web">
          </mat-form-field>

          </div>
          <div class="col-md-3">

            <mat-form-field class="sizefull">
              <input matInput  placeholder="Instagram" formControlName="social_media">
          </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>From Timing</mat-label>
              <mat-select formControlName="fromtiming">
                <mat-option *ngFor="let item of time_array" [value]="item">{{item}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>To Timing</mat-label>
              <mat-select formControlName="totiming">
                <mat-option *ngFor="let item of time_array" [value]="item">{{item}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>Available On</mat-label>
              <mat-select formControlName="available_on" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>


        </div>
        <div class="row">

          <div class="col-md-6">

            <mat-form-field class="sizefull w-100">
              <textarea matInput placeholder="Service Name" rows="3" maxlength="2000" formControlName="service_name"></textarea>
              <!-- <input matInput  placeholder="Service Name" formControlName="service_name" required> -->

          </mat-form-field>

          </div>
          <div class="col-md-6">

            <mat-form-field class="sizefull w-100">
              <textarea matInput placeholder="Arabic Service Name" rows="3" maxlength="2000" formControlName="arabic_service_name"></textarea>

              <!-- <input matInput  placeholder="Arabic Service Name" formControlName="arabic_service_name" required> -->

          </mat-form-field>


          </div>
          <div class="col-md-6">

            <mat-form-field class="sizefull w-100">
              <textarea matInput placeholder="Description" rows="3" maxlength="2000" formControlName="description"></textarea>
              <!-- <input matInput  placeholder="Description" formControlName="description" required> -->

            </mat-form-field>
          </div>
          <div class="col-md-6">

            <mat-form-field class="sizefull w-100">
              <textarea matInput placeholder="Arabic Description" rows="3" maxlength="2000" formControlName="arabic_description"></textarea>
              <!-- <input matInput  placeholder="Arabic Description" formControlName="arabic_description" required> -->

            </mat-form-field>
          </div>
          <div class="col-md-6">

            <mat-form-field class="sizefull w-100">
              <textarea matInput placeholder="Keyword" rows="3" maxlength="2000" formControlName="keyword"></textarea>
              <!-- <input matInput  placeholder="Arabic Description" formControlName="arabic_description" required> -->

            </mat-form-field>
          </div>
        </div>

        <div class="row">
           <div class="col-md-3">
            <mat-form-field class="sizefull">
              <mat-label>Choose Image Type</mat-label>
              <mat-select formControlName="imagetype" required>
                <mat-option value="1">Main Image</mat-option>
                <mat-option value="2">Sub Image</mat-option>
                <mat-option value="3">Gallery</mat-option>
                </mat-select>
              <mat-error *ngFor="let validation of business_validation_message.imagetype">
                <mat-error class="error-message" *ngIf="addmaincategory.get('imagetype').hasError(validation.type) && (addmaincategory.get('imagetype').dirty || addmaincategory.get('imagetype').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
           </div>



        </div>
          <div *ngIf="!cropperhide && addmaincategory.get('imagetype').value=='1'" class="card-body" >
          <div class="row">
            <div class="col-md-4">
              <button pButton type="button" (click)="fileupload1.click()" label="Upload Image" icon="pi pi-upload" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>

            <!-- <input class="btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="fileupload1.click()" tooltip="Click to Upload Image" value="UPLOAD IMAGE"> -->
            <!-- <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="fileChangeEvent($event)" accept="image/*" #fileupload1/> -->

          <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="uploadtofirebase($event.target.files[0])" accept="image/*" #fileupload1/>

        </div>
        <div class="col-md-5">

          <mat-progress-bar *ngIf="progresshow" mode="indeterminate" [value]="percentage"></mat-progress-bar>
        </div>
        <!-- <div class="col-md-3">

          <input class="float-right btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"(click)="uploadtofirebase(fileupload1)"  tooltip="Click to Add Image" value="ADD IMAGE">
        </div> -->
          </div>
           <!-- <div class="row" style="margin-top: 15px;">
              <div class="text-center col-md-8">
                  <h5>Crop Image</h5>
                  <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="25 / 11"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"></image-cropper>
              </div>
              <div class="text-center col-md-4">
                  <h5>Preview</h5>
                  <img class="w-100"   [src]="croppedImage" />
              </div>
          </div> -->
        </div>
        <h3 *ngIf="cropperhide && type1images.length>0">Main Image</h3>
        <div *ngIf="cropperhide && (addmaincategory.get('imagetype').value=='1' || addmaincategory.get('imagetype').value=='2' ||addmaincategory.get('imagetype').value=='3')" class="text-center row">
          <div class="col-md-6 p-1">

            <img  height="150px" [src]="type1images[0].showurl" />
            <!-- <mat-icon>close</mat-icon> -->
          </div>
          <div class="col-md-6 p-1 d-flex flex-column" *ngIf="cropperhide && (addmaincategory.get('imagetype').value=='1')">
            <div class="row-md-6 p-1">
              <button pButton type="button" (click)="cropperHide('1')" label="Change Image" icon="pi pi-user-edit" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>
              <!-- <input class="text-center float-left btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="cropperHide('1')" value="CHANGE IMAGE"> -->
            </div>
          </div>
        </div>
        <div *ngIf="!cropperhide && addmaincategory.get('imagetype').value=='2'" class="card-body" >
          <div class="row">
            <div class="col-md-4">
              <button pButton type="button" (click)="fileupload.click()" label="Upload Image" icon="pi pi-upload" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>
            <!-- <input class="btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="fileupload.click()" tooltip="Click to Upload Image" value="UPLOAD IMAGE"> -->

          <!-- <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="fileChangeEvent($event)" accept="image/*" #fileupload/> -->
          <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="multipleuploadtofirebase($event.target.files[0])" accept="image/*" #fileupload/>

        </div>
        <div class="col-md-5">

          <mat-progress-bar *ngIf="progresshow" mode="indeterminate" ></mat-progress-bar>
        </div>
        <!-- <div class="col-md-3">

          <input class="float-right btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"(click)="multipleuploadtofirebase(fileupload)"  tooltip="Click to Add Image" value="ADD IMAGE">
        </div> -->
          </div>
           <!-- <div class="row" style="margin-top: 15px;">
              <div class="text-center col-md-8">
                  <h5>Crop Image</h5>
                  <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"></image-cropper>
              </div>
              <div class="text-center col-md-4">
                  <h5>Preview</h5>
                  <img class="w-100"  [src]="croppedImage" />
              </div>
          </div> -->
        </div>
        <h3 *ngIf="cropperhide && images.length>0">Sub Images</h3>
        <div *ngIf="cropperhide && (addmaincategory.get('imagetype').value=='1' || addmaincategory.get('imagetype').value=='2' ||addmaincategory.get('imagetype').value=='3')" class="text-center row">
          <div class="col-md-4 p-1" *ngFor="let image of images">

            <img  width="150px" height="150px" [src]="image.showurl" />
          </div>
          <div class="row-md-4 p-1 " *ngIf="cropperhide && addmaincategory.get('imagetype').value=='2'">
            <button pButton type="button" (click)="cropperHide('2')" label="Upload Sub Image" icon="pi pi-upload" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>

              <!-- <input class="text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="cropperHide('2')" value="ADD SUB IMAGE"> -->

          </div>

        </div>
        <div *ngIf="!cropperhide && addmaincategory.get('imagetype').value=='3'" class="card-body" >
          <div class="row">
            <div class="col-md-4">
              <button pButton type="button" (click)="fileupload3.click()" label="Upload Image" icon="pi pi-upload" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>

            <!-- <input class="btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="fileupload3.click()" tooltip="Click to Upload Image" value="UPLOAD IMAGE"> -->

          <!-- <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="fileChangeEvent($event)" accept="image/*" #fileupload3/> -->
          <input type="file" id="browseAttachment" style="visibility: hidden;"  (change)="multiplegalleryuploadtofirebase($event.target.files[0])" accept="image/*" #fileupload3/>

        </div>
        <div class="col-md-5">

          <mat-progress-bar *ngIf="progresshow" mode="indeterminate" ></mat-progress-bar>
        </div>
        <!-- <div class="col-md-3">

          <input class="float-right btn w-100 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"(click)="multiplegalleryuploadtofirebase(fileupload3)"  tooltip="Click to Add Image" value="ADD IMAGE">
        </div> -->
          </div>
           <!-- <div class="row" style="margin-top: 15px;">
              <div class="text-center col-md-8">
                  <h5>Crop Image</h5>
                  <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"></image-cropper>
              </div>
              <div class="text-center col-md-4">
                  <h5>Preview</h5>
                  <img class="w-100"  [src]="croppedImage" />
              </div>
          </div> -->
        </div>
        <h3 *ngIf="cropperhide && galleryimages.length>0">Gallery Images</h3>
        <div *ngIf="cropperhide && (addmaincategory.get('imagetype').value=='1' || addmaincategory.get('imagetype').value=='2' ||addmaincategory.get('imagetype').value=='3')" class="text-center row">
          <div class="col-md-4 p-1" *ngFor="let image of galleryimages">

            <img width="150px" height="150px" [src]="image.showurl" />
          </div>
          <div class="row-md-4 p-1 " *ngIf="cropperhide && (addmaincategory.get('imagetype').value=='3')">

              <!-- <input class="text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="cropperHide('3')" value="ADD GALLERY IMAGE"> -->
              <button pButton type="button" (click)="cropperHide('3')" label="Upload Gallery Image" icon="pi pi-upload" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>
          </div>

        </div>
        <button *ngIf="addoredit=='add'" pButton type="button" (click)="onSubmit()" label="Add Business" icon="pi pi-plus" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>
    <button *ngIf="addoredit=='edit'" pButton type="button" (click)="onSubmit()" label="Update Business" icon="pi pi-plus" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 8px 16px;font-size: 13px;"></button>
          <!-- <input *ngIf="addoredit=='add'" class="mt-1 text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="onSubmit()" value="ADD BUSINESS">
          <input *ngIf="addoredit=='edit'" class="mt-1 text-center btn w-80 btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" (click)="onSubmit()" value="UPDATE BUSINESS"> -->
          <mat-error>{{error}}</mat-error>

      </form>
    </div>
  </div>
</div>
<p-dialog header="Select Location" position="top" [(visible)]="display">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom">
    <agm-marker *ngIf="isLocationSelected" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</p-dialog>

