.p-selectable-row:hover{
    background: lightblue !important;
}
// .tablebackground{
//     background: blueviolet;
// }
.row-datas {
    background-color: #e4f2f7 !important;
}
.p-datatable .p-datatable-header {
    background-color: #add8e6 !important;
    border-bottom-color: black;
    border-bottom-width: thin
}