.tabhead{
    text-align: center;
    font-size: x-large;
}
.addbutton{
    width: 70px;
    background-color: rgba(105,240,174,.54);
    border-radius: 10px;
    border-color: rgba(105,240,174,.54);
}
// .p-datatable .p-datatable-tbody > tr {
//     background: grey !important;
// }
// .p-datatable .p-datatable-hoverable-rows .p-table-tbody > tr:not(.p-highlight):hover{
//     background: grey !important;
//     color: blue !important;
// }
.p-selectable-row:hover{
    background: lightblue !important;
}
// .tablebackground{
//     background: blueviolet;
// }
.row-datas {
    background-color: #e4f2f7 !important;
}
.p-datatable .p-datatable-header {
    background-color: #add8e6 !important;
    border-bottom-color: black;
    border-bottom-width: thin
}