<div>

    <p-table #dt [value]="datas"  dataKey="id" [columns]="cols" [reorderableColumns]="true" responsiveLayout="scroll"
    [rowHover]="true" [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
     [paginator]="true" (onPage)="paginate()"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','number']">
        <ng-template pTemplate="caption">
            <div style="display: flex;" class="display-flex align-items-center justify-content-between tabhead ">
                Main Category Table
                <!-- <mat-icon>add</mat-icon> -->
                <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'" pAddRow
                    [table]="dt" (click)="newRow(d.name,dt)"></button> -->
                    <div>
                        <button pButton type="button" (click)="addnew()" icon="pi pi-plus" class="p-button-sm" style="border-radius: 9px; background-color: #FFB81C; padding: 4px 24px;font-size: 1px;"></button>
                        <!-- <button mat-fab class="addbutton" (click)="addnew()" ><mat-icon>add</mat-icon></button> -->
                    </div>
            </div>
        </ng-template>
            <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:3rem" class="lightbluethinbg "></th>
                <th *ngFor="let col of columns" class="secondheaderbgcolor" pReorderableColumn [ngStyle]="{'width':'15%',  'font-size': '11px', 'padding': '6px 12px' }">
                    <span *ngIf="col.field !== 'image_url'">{{col.header}}</span>
                    <span *ngIf="col.field == 'image_url'" >{{col.header}}</span>
                </th>
              </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr  [pReorderableRow]="index" class="p-selectable-row row-datas" [ngStyle]="{'font-size': '11px', 'padding': '3px 12px' }" >

                    <td  pReorderableRowHandle>
                        <span  class="pi pi-bars"  ></span>
                    </td>
                    <td *ngFor="let col of columns"  class="tablecolumnbgcolor"  style="padding: 6px 12px;">

                        <span *ngIf="col.field !== 'image_url' && col.field !== 'is_active'" class="tablebackground">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field == 'is_active'" class="tablebackground"><mat-slide-toggle
                            class="example-margin"
                            (change)="toggle($event,index,rowData['main_category_id'])"
                            [checked]="rowData[col.field]"
                            >
                        </mat-slide-toggle></span>
                        <span *ngIf="col.field == 'image_url'" class="tablebackground" (click)="viewimage()"><img src={{rowData[col.field]}} width="20px" height="20px" alt="No Image"></span>
                        <span *ngIf="col.field == ''" class="tablebackground"><mat-icon (click)="edit(rowData)">edit</mat-icon>&nbsp;&nbsp;&nbsp;
                            <!-- <mat-icon (click)="deleteone(rowData['id'])">delete</mat-icon> -->
                        </span>
                    </td>


                </tr>
              </ng-template>

    </p-table>

    </div>
