.customsize{
    height: auto;
    min-height: -webkit-fill-available;
    width: auto;
    min-width: -webkit-fill-available;
}
.pointer {
    // pointer-events: none;
    cursor: pointer !important;
}