<div class="d-flex align-items-center auth px-0 customsize lightbluethinbg">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="yellowbg auth-form-light text-left py-5 px-4 px-sm-5 rounded ">
        <div class="brand-logo">
          <img src="assets/images/Logo.svg" alt="logo">
        </div>
        <!-- <h4>Hello! let's get started</h4> -->
        <!-- <h6 class="font-weight-light">Sign in to continue.</h6> -->
        <!-- (ngSubmit)="onSubmitLogin(LoginForm.value)" -->
        <form *ngIf="login" class="pt-3" [formGroup]="LoginForm" (ngSubmit)="Login()" >
          <div class="form-group ">
            <input type="text" formControlName="username" class="form-control form-control-lg formbgwhite" id="exampleInputEmail1" placeholder="Username">
            <mat-error *ngFor="let validation of loginvalidatemsg.username">
              <mat-error class="error-message" *ngIf="LoginForm.get('username').hasError(validation.type) && (LoginForm.get('username').dirty || LoginForm.get('username').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control form-control-lg formbgwhite" id="exampleInputPassword1" placeholder="Password">
            <mat-error *ngFor="let validation of loginvalidatemsg.password">
              <mat-error class="error-message" *ngIf="LoginForm.get('password').hasError(validation.type) && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
          <div class="mt-3">
             <input class="btn btn-block  btn-lg font-weight-medium auth-form-btn buttonrose" type="submit"  value="SIGN IN">
             <div class="pt-2"><a (click)="login=false;"> <span class="text-light pointer">forget password ?</span></a></div>
             <p class="text-danger">{{error}}</p>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
          </div>
        </form>
        <form *ngIf="!login" class="pt-3" [formGroup]="LoginForm2" (ngSubmit)="forgetPassword()" >
          <div class="form-group">
            <!-- (input)="onSearchChange($event.target.value)"  -->
            <input type="text" formControlName="username" class="form-control form-control-lg formbgwhite" id="exampleInputEmail1" placeholder="Username">
            <mat-error *ngFor="let validation of loginvalidatemsg.username">
              <mat-error class="error-message" *ngIf="LoginForm.get('username').hasError(validation.type) && (LoginForm.get('username').dirty || LoginForm.get('username').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
          <!-- <div class="form-group">
            <input type="password" formControlName="old_password" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Old password">
          </div> -->
          <div class="form-group">
            <input type="password" formControlName="new_password" class="form-control form-control-lg formbgwhite" id="exampleInputPassword1" placeholder="New Password">
            <mat-error *ngFor="let validation of loginvalidatemsg.password">
              <mat-error class="error-message" *ngIf="LoginForm.get('password').hasError(validation.type) && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
          <div class="mt-3">
            <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"  value="CHANGE PASSWORD">
            <div class="pt-2"><a (click)="login=true;"> <span class="text-light pointer">Back to login</span></a></div>
            <p class="text-danger">{{error}}</p>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  