<div>
 
    <p-table #dt [value]="datas"  dataKey="id" [columns]="cols" [reorderableColumns]="true"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
     [paginator]="true" (onPage)="paginate()"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','number']">
        <ng-template pTemplate="caption" >
            <div style="display: flex;" class="display-flex align-items-center justify-content-between tabhead">
                Location Table
                <div>
                    <button mat-fab class="addbutton" (click)="addnew()" ><mat-icon>add</mat-icon></button>
                </div>
            </div>
        </ng-template>
            <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" class="lightbluethinbg" pReorderableColumn [ngStyle]="{'width':col.field === 'image_url' ? '10%' : '' }">
                    <span *ngIf="col.field !== 'image_url'">{{col.header}}</span>
                    <span *ngIf="col.field == 'image_url'" >{{col.header}}</span>
                </th>
              </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr class="p-selectable-row row-datas" [pReorderableRow]="index" >
      
                    <td *ngFor="let col of columns">
                        <span *ngIf="col.field !== 'image_url' && col.field !== 'is_active'" class="tablebackground">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field == 'is_active'" class="tablebackground"><mat-slide-toggle 
                            class="example-margin"
                            (change)="toggle($event,index,rowData['users_id'])"
                            [checked]="rowData[col.field]"
                            >
                        </mat-slide-toggle></span>
                        <span *ngIf="col.field == 'image_url'" class="tablebackground" ><img src={{rowData[col.field]}} width="50px" height="50px" alt="demo"></span>
                     
                    </td>
                
      
                </tr>
              </ng-template>

    </p-table>
   
    </div>