/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import './assets/scss/variables';
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/tooltips";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/tabs";
@import "./assets/scss/components/dropdowns"; 
@import "./assets/scss/components/date-picker"; 
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/portfolio";
@import "./assets/scss/components/todo-list";

@import "./assets/scss/components/landing-screens/auth";

/* === Layout === */
@import "./assets/scss/layout";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.lightsteelbluebg{
    background:lightsteelblue;
}
.purple{
background-color: #b66dff !important;
}
.lightbluethinbg{
    // background-color: #add8e6 !important;
    // background-color: azure !important;
    // background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  // background: linear-gradient(to right, #ee5a6f, #f29263)





  // background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#f5a177)) !important;
  // background: linear-gradient(to right, #f29263, #f5a177)






  background: #8E2748 0% 0% no-repeat padding-box !important;
border: 1px solid #707070 !important;
opacity: 1 !important;
}
.secondheaderbgcolor{
  background: #EBE5E7 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
.yellowbg{
  background: #FCB81C 0% 0% no-repeat padding-box !important;
border-radius: 12px !important;
opacity: 1 !important;
}
.borderblack{
    border-color: black !important;
    border-width: thin !important
}
.addbutton{
    width: 70px;
    background-color: rgba(105,240,174,.54);
    border-radius: 10px;
    border-color: rgba(105,240,174,.54);
}
.prevent-click{
    pointer-events: none;
  }
  .authorize-click{
    pointer-events: auto !important;
  }
//   .employee-search-field {
//     width: 350px;
//     font-size: 14px;
//     margin-bottom: -15px;
//     color: black !important;
//     border-color: black;
//   }
  
//   .employee-search-field mat-label {
//     color: black !important;
//     /* add label text color here */
//   }
  
//   .employee-search-field .mat-input-element {
//     color: black !important;
//     /* add input text color here */
//   }
  
//   .employee-search-field .mat-input-element::placeholder {
//     color: black !important;
//     /* add placeholder css here */
//   }
  ::ng-deep .mat-form-field-placeholder{

    color:#212529 !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color:#212529 !important;
  }
  ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

    background-color:#212529 !important;
  }
  
  ::ng-deep .mat-form-field-underline{
  
    background-color:#212529 !important;
  }
//   .mat-form-field {
//     width: 350px;
//     font-size: 14px;
//     // color: #212529;
//     // border-color: #212529;
//   }
  
  ::ng-deep .mat-input-element::placeholder {
    color:#212529 !important;
      
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
      color:#212529 !important;
    // color: rgba(var(--cui-primary-rgb), var(--cui-text-opacity)) !important;
  }

  ::ng-deep .mat-select-value {
      color: #212529 !important;
  }
  ::ng-deep .mat-select-value::placeholder {
    color: #212529 !important;
}
  .mat-slide-toggle-bar, .mat-slide-toggle-thumb {
    background-color: rgb(185, 246, 202);
  }
  .mat-checkbox-frame {
    border-color: rgba(105,240,174,.54);
  }
  .mat-radio-outer-circle {
    border-color: #69f0ae;
}
.bg-c-lite-green {

  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
  
}
.tabheadsmall{
  text-align: center;
  font-size: medium;
  font: normal normal medium 18px/39px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  
}

//table
.tabhead{
  text-align: center;
  font-size: x-large;
  font: normal normal medium 18px/39px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.p-selectable-row:hover{
  background: lightblue !important;
}
.row-datas {
  background-color: #e4f2f7 !important;
}
.p-datatable .p-datatable-header {
  // background-color: #add8e6 !important;
  // // background: linear-gradient(to right, #ee5a6f, #f29263) !important;




  // background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#f5a177)) !important;
  // background: inear-gradient(to right, #f29263, #f5a177) !important;

  background: #8E2748 0% 0% no-repeat padding-box !important;
  border-radius: 12px 12px 0px 0px !important;
  opacity: 1 !important;
  border-bottom-color: black !important;
  border-bottom-width: thin !important;
}
.p-component, .p-component * {
  /* box-sizing: border-box; */
  border-color: #AF677E  !important;// #f5a177 !important;
  //  border-color: black !important; 
  // border-width: thin !important;
}
// .p-datatable .p-datatable-thead > tr > th {
//   background: skyblue;
// }
.tablesize
{
    font-size: .9em !important;
}
.formbgwhite{
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
border: 1px solid #C3C3C3 !important;
opacity: 1 !important;
}
.buttonrose{
  background: #AA0038 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
.textwhite{
  font: normal normal medium 18px/39px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.bgtopcontainershadewhite{
  background: #F4F0F0 0% 0% no-repeat padding-box !important;
box-shadow: 0px 2px 4px #0000001F !important;
opacity: 1 !important;
}
.maincenterbgwhite{
  background: #FCF9F9 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
.navselectionrose{
  background: #811A3B 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}